.navbar-container{
	background-color: #fdf2f4;
	border-bottom: 1px solid rgba(139, 29, 61, 0.1);
}
.page-container{
	background-color: rgb(245, 251, 251);
    
}
.main-section{
	background-image: url('/assets/crm_custom/images/login-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}